
<div>
    <h1>Contacts List</h1>
</div>

<div>
    <a class="btn btn-primary customizelink" routerLink="contact/create">Create New Contact</a>
</div>
<div>
    <input
    #query
    (keyup)="filter(query.value)"
    type="text" 
    class="form-control"
    placeholder="Search....">
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
       
    </thead>
    <tbody>
       <tr *ngFor="let contact of filteredContacts">
           <td>{{contact.name}}</td>
           <td>{{contact.telephone}}</td>
           <td>{{contact.email || "-"}}</td>
           <td>{{contact.address + contact.city + contact.country  || "-"}}</td>
           <td><a [routerLink]="['contact/edit',contact.id]">Edit</a></td>
       </tr>
    </tbody>

</table>


