
<h1 *ngIf="!id">Create Contact</h1>
<h1 *ngIf="id">Edit Contact</h1>

<form [formGroup]="form" (ngSubmit)="save(form.value)">
    <div class="form-gropup">
        <label for="name">Name:</label>
        <input formControlName="name" type="text" id="name" class="form-control">
        <div *ngIf="name.invalid && name.touched">
            <div *ngIf="name.errors.required" class="alert alert-danger">
                The name field cannot be blank.
            </div>
        </div>
    </div>
    <div class="form-gropup">
        <label for="telephone">Phone number:</label>
        <input formControlName="telephone" type="tel"  id="telephone" class="form-control">
        <div *ngIf="telephone.invalid && telephone.touched" class="alert alert-danger">
          <div *ngIf="telephone.errors.required"> The phone number is required.</div>
        </div>
    </div>
    <div class="form-gropup">
        <label for="email">Email:</label>
        <input formControlName="email" type="text" id="email" class="form-control">
        <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
            <div *ngIf="email.errors.email">The email is not valid.</div>
        </div>
    </div>
    <div>
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Save</button>
        <button *ngIf="id" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        <a routerLink="/" class="float-right customizeLink">Cancel</a>
        
    </div>
   
</form>


