
<h1 *ngIf="!id">Create Contact</h1>
<h1 *ngIf="id">Edit Contact</h1>

<form [formGroup]="form" (ngSubmit)="save(form.value)">
    <div class="form-gropup">
        <label for="name">Name:</label>
        <input formControlName="name" type="text" id="name" class="form-control">
        <div *ngIf="name.invalid && name.touched">
            <div *ngIf="name.errors.required" class="alert alert-danger">
                The name field cannot be blank.
            </div>
        </div>
    </div>
    <div class="form-gropup">
        <label for="telephone">Phone number:</label>
        <input formControlName="telephone" type="tel"  id="telephone" class="form-control">
        <div *ngIf="telephone.invalid && telephone.touched" class="alert alert-danger">
          <div *ngIf="telephone.errors.required"> The phone number is required.</div>
        </div>
    </div>
    <div class="form-gropup">
        <label for="email">Email:</label>
        <input formControlName="email" type="text" id="email" class="form-control">
        <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
            <div *ngIf="email.errors.email">The email is not valid.</div>
        </div>
    </div>
<div class="clickable">
    <span *ngIf="!contact.address && !contact.city && !contact.country;else updateAddress" (click)="addingAddress()">
        Add an address  <i class="fas" [class.fa-chevron-right]="!addAddress" [class.fa-chevron-down]="addAddress"></i></span>

<ng-template #updateAddress>
  
        <span (click)="addingAddress()">
            Upddate address  <i class="fas" [class.fa-chevron-right]="!addAddress" [class.fa-chevron-down]="addAddress"></i></span>
</ng-template>
</div>


    

    <div *ngIf="addAddress"> 
        <div class="form-gropup">
            <label for="address">Address</label>
            <input formControlName="address" type="text" id="address" class="form-control" placeholder="Street., Apt.,bldg.">
        </div>
        <div class="form-gropup">
            <label for="city">City</label>
            <input formControlName="city" type="text" id="city" class="form-control">
        </div>
        <div class="form-gropup">
            <label for="country">Country</label>
            <input formControlName="country" type="text" id="street" class="form-control">
        </div>
    </div>
    

        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Save</button>
        <button *ngIf="id" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        <a routerLink="/" class="float-right customizeLink">Cancel</a>
        
    
   
</form>


