button{
   margin-top: 30px;
   padding-left:40px;
   padding-right: 40px;
   margin-right:10px;
}

.customizeLink{
   margin-top: 50px;

}

.clickable{
   cursor: pointer;
   padding-top:20px;
   padding-right: 20px;
   padding-bottom: 20px;
   margin-bottom: 20px;
   color:gray;
}

input{
   margin-bottom:10px;
}

form{
   margin-top:20px;
}

h1{
   margin-top:20px;
}